.git
.github
node_modules
.venv
venv
.venv_letta
__pycache__
*.pyc
.pytest_cache
.env
.env.local
build/
dist/
.DS_Store
logs/
*.log
data/letta/*.db
open-webui/build/
.gitignore
.editorconfig
README.md
*.md
cypress/
docs/
test/
.pre-commit-config.yaml
.eslintrc
.prettierrc
